# IDE / Editor folders
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db

# Build files and SDK properties
**/build/
**/bin/
**/out/
**/target/
**/.gradle/
**/local.properties

# Log files
*.log

# Dependency directories
node_modules/

# Google Drive service account credentials
pakailagi-server/src/main/resources/google-drive-credentials.json


